<div class="col-xs-12">
  <!-- search input text -->
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search for trips..." 
    [(ngModel)]="searchParam">
  </div>
  <div class="animationload" *ngIf = !data>
      <div class="osahanloading"></div>
  </div>
<!-- display all trips -->
  <div class="singleTrip col-xs-12"
  *ngFor="let item of data | searchPipe : searchParam"
  (click)= Go(item.rideId);>
    <div class="col-xs-1 imgDiv">
      <img class="singleTrip-img" src="../../../assets/images/trip1.png" alt="trip img">
    </div>
    <div class="col-xs-11 textDiv">
      <strong>Trip Name</strong>
      <div>{{item?.rideId}}</div>
    </div>
  </div>
</div>
